<div class="top-banner user-banner">

  <div class="container">
    <div class="user-info">
      <h3><%= @user.username %></h3>
      <%= @user.tag_list %>
      <h3>Location: <%= @user.location %></h3>
      <p>Bio: <%= @user.bio %></p>
    </div>
  </div>
</div>
<div class="container">
  <div class="m-3">
    <h1>Your projects</h1>
  </div>
  <div class="cards">
    <% @projects.each do |project| %>
      <div class="card">
        <h2><%= project.name %></h2>
        <%= project.description %>
        <% project.tag_list do |tag| %>
            <%= tag %>
        <% end %>

        <% if @user == current_user %>
            <% project.matches.each do |match| %>
              <h3><%= match.role %></h3>
              <%= match.status %>
            <% end %>
        <% else %>
            <% project.tag_list do |tag| %>
              <%= tag %>
            <% end %>
        <% end %>


      </div>
    <% end %>
  </div>
  <div class="m-3">
    <h1>Requested projects</h1>
  </div>
  <% if @matches.any? %>
    <div class="cards">
      <% @matches.each do |match| %>
        <div class="card-background">
            <%= render 'projects/card', project: match.project %>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="m-3">
      <h3>You haven't requested yet...</h3>
    </div>
  <% end %>
</div>


