<div class="user-banner">
  <div class="container">
    <div class="user-info">
      <h1><%= @user.username %></h1>
      <h3><%= @user.tag_list %></h3>
    </div>
  </div>
</div>
<div class="container user-project-container">
<p><%= @user.bio %></p>
</div>
<% if @user == current_user %>
  <div class="container user-project-container">
    <div class="container-user-title">
      <h1><%= @user.username %>'s requests</h1>
    </div>
    <% if @matches.any? %>
    <% @matches.each do |match| %>
    <div class="project">
      <div class="project-detail">
        <h2><%= link_to match.project.name, project_path(match.project) %></h2>
        <%= match.project.description %>
      </div>
  　　 <div class="project-status">
         <div>
           <i class="fab fa-slack-hash">
             <%= link_to match.role, tagged_path %>
           </i>
          </div>
           <%= match.status %>
       </div>
      </div>
     <% end %>
    <% else %>
      <div class="m-3">
        <h3>You haven't requested yet...</h3>
      </div>
    <% end %>
  </div>
<% end %>
<div class="container container-user-title">
    <h1>
      <%= @user.username %>'s projects
    </h1>
</div>
<div class="container user-project-container">
  <% @projects.each do |project| %>
    <div class="project">
      <div class="project-detail">
        <h2><%= link_to project.name, project_path(project) %></h2>
        <%= project.description %>
      </div>
      <div class="project-status request-status">
        <% if @user == current_user %>
          <button class="btn btn-primary edit-btn btn-status">Check requests</button>
          <div class="edit-form">
            <% project.matches.each do |match| %>
            <% if match.status == "Pending..." %>
                <div class="requested-user">
                <small>From</small>
                <h5><%= link_to match.user.username, user_path(match.user)  %></h5>
                </div>
                <small><%= match.role %></small>
                <div class="status">
                <%= simple_form_for match do |f| %>
                  <%= f.input :status, as: :hidden, input_html: { value: 'accepted' }  %>
                  <%= f.submit 'accept', class: 'btn btn-sm btn-primary btn-status' %>
                <% end %>
                <%= simple_form_for match do |f| %>
                  <%= f.input :status, as: :hidden, input_html: { value: 'rejected' }  %>
                  <%= f.submit 'reject', class: 'btn btn-sm btn-primary btn-status' %>
                <% end %>
                </div>
              <% end %>
          <% end %>
          </div>
        <% else %>
          <% project.tag_list.each do |tag| %>
             <i class="fab fa-slack-hash">
               <%= link_to tag, tagged_path %>
             </i>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>



