<%= render 'banner' %>
<div class="card-container">
  <div class="container">
    <h1>Find awesome projects now</h1>
    <%= form_tag projects_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a Project" %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
    <div class="cards">
      <% @projects.each do |project| %>
        <div class="card-background">
          <a href="<%= project_path(project) %>" class="card">
            <%= render 'projects/card', project: project %>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%# if policy(Project).create? %>
  <%#= link_to "New project", new_project_path %>
<%# end %>

