<a href="/users/<%= User.find(@project.user_id).username %>"><span><%= User.find(@project.user_id).username %></span> </a>

<% project = Project.find(params[:id]) %>
<div>
  <div><%= render 'banner'%></div>
  <div class="row justify-content-around m-3">
  <div>
    <h3><%= project.name %></h3>
    <h5><%= project.description %></h5>
  </div>

  <div>
    <h3>Members Needed</h3>
    <ul>
      <% @project.tag_list.each do |tag| %>
        <li><%= tag %></li>
      <% end %>
    </ul>
  </div>
  </div>
</div>

