<% project = Project.find(params[:id]) %>
<div class="container">
  <div>
<!-- Banner -->
  <div>
    <%= render 'banner'%>
  </div>

<!-- Whole project info div -->
  <div class="project-info row">

<!-- Project name, description and images -->
    <div class="col-9">
      <div class="p-5">
        <div class="project-name pb-3">
          <h3 style="display: inline;">Project Name: </h3>
          <h4 style="display: inline;"><%= project.name %></h4>
        </div>

        <div class="description pb-3">
          <p><%= project.description %></p>
        </div>

        <div class="images-div">
          <div class="img-div"></div>
          <div class="img-div"></div>
          <div class="img-div"></div>
        </div>
      </div>
    </div>

<!-- Mebmer info and roles looking for -->
    <div class="members-bar col-3">
      <div class="pl-3 pt-5 pb-5">
        <h3>Looking for</h3>
        <ul>
          <% @project.tag_list.each do |tag| %>
            <li><%= tag %></li>
          <% end %>
        </ul>
        <h3>Members</h3>
        <a href="/users/<%= User.find(@project.user_id).username %>">
          <span><%= User.find(@project.user_id).username %></span>
        </a>
      </div>
    </div>

  </div>
</div>
</div>

