<% project = Project.find(params[:id]) %>
<div>
  <div><%= render 'banner'%></div>
  <div class="project-info row">
  <div class="col-9">
    <div class="p-5">
      <h3><%= project.name %></h3>
      <h5><%= project.description %></h5>
    </div>
  </div>

    <div class="members-bar col-3">
      <div class="pl-3 pt-5 pb-5">
        <h3>Looking for</h3>
        <ul>
          <% @project.tag_list.each do |tag| %>
            <li><%= tag %></li>
          <% end %>
        </ul>
        <h3>Members</h3>
        <a href="/users/<%= User.find(@project.user_id).username %>">
          <span><%= User.find(@project.user_id).username %></span>
        </a>
      </div>
    </div>

  </div>
</div>

